/* Navigation.css */
.nav{
  z-index: 1;
  position: fixed; left: 10px; top: 30px;
  display: flex; flex-direction: column;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.nav a{
  color: #666;
  font-size: 12px; font-weight: 600;
  text-align: center; text-decoration: none; text-transform: uppercase;
}

.nav a:not(:last-of-type){
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .nav{
    bottom: 0; left: auto; top: auto; /* left: initial; top: initial; */
    width: 100%;
  }
}